.item {
  color: #6c757d;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  width: 40px;
  a {
    width: 100%;
    display: block;
    height: 100%;
    text-align: center;
    align-content: center;
  }
  &:hover {
    border: solid 1px #808e9b;
    border-radius: 4px;
    background-color: #124e91;
    color: #ffffff;
  }
}

.disabled-page {
  color: #808e9b !important;
  background-color: #ffffff !important;
  border: none !important;
  cursor: not-allowed !important;
}

.active {
  border: solid 1px #808e9b;
  border-radius: 4px;
  background-color: #0e4e92;
  color: #ffffff;
}

.activeV2 {
  border: solid 1px #808e9b;
  border-radius: 4px;
  background-color: #124e91;
  color: #ffffff;
}

.next {
  font-size: 14px;
  background-color: #dfdfdf;
  border-radius: 4px;
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: end;
  list-style-type: none;
  position: relative;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  font-size: 14px;
  background-color: #dfdfdf;
  border-radius: 4px;
}
